
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /><meta name="generator" content="Docutils 0.19: https://docutils.sourceforge.io/" />

    <title>Enabling the driver and kconfig options &#8212; The Linux Kernel  documentation</title>
    <link rel="stylesheet" type="text/css" href="../../../../../_static/pygments.css" />
    <link rel="stylesheet" type="text/css" href="../../../../../_static/alabaster.css" />
    <script data-url_root="../../../../../" id="documentation_options" src="../../../../../_static/documentation_options.js"></script>
    <script src="../../../../../_static/jquery.js"></script>
    <script src="../../../../../_static/underscore.js"></script>
    <script src="../../../../../_static/_sphinx_javascript_frameworks_compat.js"></script>
    <script src="../../../../../_static/doctools.js"></script>
    <script src="../../../../../_static/sphinx_highlight.js"></script>
    <link rel="index" title="Index" href="../../../../../genindex.html" />
    <link rel="search" title="Search" href="../../../../../search.html" />
    <link rel="next" title="Switchdev" href="switchdev.html" />
    <link rel="prev" title="Mellanox ConnectX(R) mlx5 core VPI Network Driver" href="index.html" />
   
  <link rel="stylesheet" href="../../../../../_static/custom.css" type="text/css" />
  
  
  <meta name="viewport" content="width=device-width, initial-scale=0.9, maximum-scale=0.9" />

  </head><body>
  <div class="document">
    
      <div class="sphinxsidebar" role="navigation" aria-label="main navigation">
        <div class="sphinxsidebarwrapper">
<h1 class="logo"><a href="../../../../../index.html">The Linux Kernel</a></h1>



<p class="blurb">6.7.0</p>







<div id="searchbox" style="display: none" role="search">
  <h3 id="searchlabel">Quick search</h3>
    <div class="searchformwrapper">
    <form class="search" action="../../../../../search.html" method="get">
      <input type="text" name="q" aria-labelledby="searchlabel" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
      <input type="submit" value="Go" />
    </form>
    </div>
</div>
<script>document.getElementById('searchbox').style.display = "block"</script><!-- SPDX-License-Identifier: GPL-2.0 -->

<p>
<h3 class="kernel-toc-contents">Contents</h3>
<input type="checkbox" class="kernel-toc-toggle" id = "kernel-toc-toggle" checked>
<label class="kernel-toc-title" for="kernel-toc-toggle"></label>

<div class="kerneltoc" id="kerneltoc">
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../process/development-process.html">A guide to the Kernel Development Process</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../process/submitting-patches.html">Submitting patches: the essential guide to getting your code into the kernel</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../process/code-of-conduct.html">Code of conduct</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../maintainer/index.html">Kernel Maintainer Handbook</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../process/index.html">All development-process docs</a></li>
</ul>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../../../../core-api/index.html">Core API Documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../driver-api/index.html">Driver implementer's API guide</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../../../../subsystem-apis.html">Kernel subsystem documentation</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../../../../../subsystem-apis.html#core-subsystems">Core subsystems</a></li>
<li class="toctree-l2"><a class="reference internal" href="../../../../../subsystem-apis.html#human-interfaces">Human interfaces</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../../../../../subsystem-apis.html#networking-interfaces">Networking interfaces</a><ul class="current">
<li class="toctree-l3 current"><a class="reference internal" href="../../../../index.html">Networking</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../../netlabel/index.html">NetLabel</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../../infiniband/index.html">InfiniBand</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../../isdn/index.html">ISDN</a></li>
<li class="toctree-l3"><a class="reference internal" href="../../../../../mhi/index.html">MHI</a></li>
</ul>
</li>
<li class="toctree-l2"><a class="reference internal" href="../../../../../subsystem-apis.html#storage-interfaces">Storage interfaces</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../locking/index.html">Locking in the kernel</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../process/license-rules.html">Linux kernel licensing rules</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../doc-guide/index.html">How to write kernel documentation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../dev-tools/index.html">Development tools for the kernel</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../dev-tools/testing-overview.html">Kernel Testing Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../kernel-hacking/index.html">Kernel Hacking Guides</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../trace/index.html">Linux Tracing Technologies</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../fault-injection/index.html">fault-injection</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../livepatch/index.html">Kernel Livepatching</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../rust/index.html">Rust</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../admin-guide/index.html">The Linux kernel user's and administrator's guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../kbuild/index.html">The kernel build system</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../admin-guide/reporting-issues.html">Reporting issues</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../tools/index.html">User-space tools</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../userspace-api/index.html">The Linux kernel user-space API guide</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../firmware-guide/index.html">The Linux kernel firmware guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../../../../devicetree/index.html">Open Firmware and Devicetree</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../arch/index.html">CPU Architectures</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../staging/index.html">Unsorted Documentation</a></li>
</ul>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../../../../translations/index.html">Translations</a></li>
</ul>

</div>

<script type="text/javascript"> <!--
  var sbar = document.getElementsByClassName("sphinxsidebar")[0];
  let currents = document.getElementsByClassName("current")
  sbar.scrollTop = currents[currents.length - 1].offsetTop;
  --> </script>
  <div role="note" aria-label="source link">
    <h3>This Page</h3>
    <ul class="this-page-menu">
      <li><a href="../../../../../_sources/networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst.txt"
            rel="nofollow">Show Source</a></li>
    </ul>
   </div>
        </div>
      </div>
      <div class="documentwrapper">
        <div class="bodywrapper">
          

          <div class="body" role="main">
            
  <section id="enabling-the-driver-and-kconfig-options">
<h1>Enabling the driver and kconfig options<a class="headerlink" href="#enabling-the-driver-and-kconfig-options" title="Permalink to this heading">¶</a></h1>
<dl class="field-list simple">
<dt class="field-odd">Copyright<span class="colon">:</span></dt>
<dd class="field-odd"><p>© 2023, NVIDIA CORPORATION &amp; AFFILIATES. All rights reserved.</p>
</dd>
</dl>
<div class="line-block">
<div class="line">mlx5 core is modular and most of the major mlx5 core driver features can be selected (compiled in/out)</div>
<div class="line">at build time via kernel Kconfig flags.</div>
<div class="line">Basic features, ethernet net device rx/tx offloads and XDP, are available with the most basic flags</div>
<div class="line">CONFIG_MLX5_CORE=y/m and CONFIG_MLX5_CORE_EN=y.</div>
<div class="line">For the list of advanced features, please see below.</div>
</div>
<p><strong>CONFIG_MLX5_BRIDGE=(y/n)</strong></p>
<div class="line-block">
<div class="line">Enable <a class="reference internal" href="switchdev.html#mlx5-bridge-offload"><span class="std std-ref">Ethernet Bridging (BRIDGE) offloading support</span></a>.</div>
<div class="line">This will provide the ability to add representors of mlx5 uplink and VF</div>
<div class="line">ports to Bridge and offloading rules for traffic between such ports.</div>
<div class="line">Supports VLANs (trunk and access modes).</div>
</div>
<p><strong>CONFIG_MLX5_CORE=(y/m/n)</strong> (module mlx5_core.ko)</p>
<div class="line-block">
<div class="line">The driver can be enabled by choosing CONFIG_MLX5_CORE=y/m in kernel config.</div>
<div class="line">This will provide mlx5 core driver for mlx5 ulps to interface with (mlx5e, mlx5_ib).</div>
</div>
<p><strong>CONFIG_MLX5_CORE_EN=(y/n)</strong></p>
<div class="line-block">
<div class="line">Choosing this option will allow basic ethernet netdevice support with all of the standard rx/tx offloads.</div>
<div class="line">mlx5e is the mlx5 ulp driver which provides netdevice kernel interface, when chosen, mlx5e will be</div>
<div class="line">built-in into mlx5_core.ko.</div>
</div>
<p><strong>CONFIG_MLX5_CORE_EN_DCB=(y/n)</strong>:</p>
<div class="line-block">
<div class="line">Enables <a class="reference external" href="https://enterprise-support.nvidia.com/s/article/howto-auto-config-pfc-and-ets-on-connectx-4-via-lldp-dcbx">Data Center Bridging (DCB) Support</a>.</div>
</div>
<p><strong>CONFIG_MLX5_CORE_IPOIB=(y/n)</strong></p>
<div class="line-block">
<div class="line">IPoIB offloads &amp; acceleration support.</div>
<div class="line">Requires CONFIG_MLX5_CORE_EN to provide an accelerated interface for the rdma</div>
<div class="line">IPoIB ulp netdevice.</div>
</div>
<p><strong>CONFIG_MLX5_CLS_ACT=(y/n)</strong></p>
<div class="line-block">
<div class="line">Enables offload support for TC classifier action (NET_CLS_ACT).</div>
<div class="line">Works in both native NIC mode and Switchdev SRIOV mode.</div>
<div class="line">Flow-based classifiers, such as those registered through</div>
<div class="line"><cite>tc-flower(8)</cite>, are processed by the device, rather than the</div>
<div class="line">host. Actions that would then overwrite matching classification</div>
<div class="line">results would then be instant due to the offload.</div>
</div>
<p><strong>CONFIG_MLX5_EN_ARFS=(y/n)</strong></p>
<div class="line-block">
<div class="line">Enables Hardware-accelerated receive flow steering (arfs) support, and ntuple filtering.</div>
<div class="line"><a class="reference external" href="https://enterprise-support.nvidia.com/s/article/howto-configure-arfs-on-connectx-4">https://enterprise-support.nvidia.com/s/article/howto-configure-arfs-on-connectx-4</a></div>
</div>
<p><strong>CONFIG_MLX5_EN_IPSEC=(y/n)</strong></p>
<div class="line-block">
<div class="line">Enables <a class="reference internal" href="../../../../xfrm_device.html#xfrm-device"><span class="std std-ref">IPSec XFRM cryptography-offload acceleration</span></a>.</div>
</div>
<p><strong>CONFIG_MLX5_MACSEC=(y/n)</strong></p>
<div class="line-block">
<div class="line">Build support for MACsec cryptography-offload acceleration in the NIC.</div>
</div>
<p><strong>CONFIG_MLX5_EN_RXNFC=(y/n)</strong></p>
<div class="line-block">
<div class="line">Enables ethtool receive network flow classification, which allows user defined</div>
<div class="line">flow rules to direct traffic into arbitrary rx queue via ethtool set/get_rxnfc API.</div>
</div>
<p><strong>CONFIG_MLX5_EN_TLS=(y/n)</strong></p>
<div class="line-block">
<div class="line">TLS cryptography-offload acceleration.</div>
</div>
<p><strong>CONFIG_MLX5_ESWITCH=(y/n)</strong></p>
<div class="line-block">
<div class="line">Ethernet SRIOV E-Switch support in ConnectX NIC. E-Switch provides internal SRIOV packet steering</div>
<div class="line">and switching for the enabled VFs and PF in two available modes:</div>
<div class="line-block">
<div class="line">1) <a class="reference external" href="https://enterprise-support.nvidia.com/s/article/HowTo-Configure-SR-IOV-for-ConnectX-4-ConnectX-5-ConnectX-6-with-KVM-Ethernet">Legacy SRIOV mode (L2 mac vlan steering based)</a>.</div>
<div class="line">2) <a class="reference internal" href="../../../../switchdev.html#switchdev"><span class="std std-ref">Switchdev mode (eswitch offloads)</span></a>.</div>
</div>
</div>
<p><strong>CONFIG_MLX5_FPGA=(y/n)</strong></p>
<div class="line-block">
<div class="line">Build support for the Innova family of network cards by Mellanox Technologies.</div>
<div class="line">Innova network cards are comprised of a ConnectX chip and an FPGA chip on one board.</div>
<div class="line">If you select this option, the mlx5_core driver will include the Innova FPGA core and allow</div>
<div class="line">building sandbox-specific client drivers.</div>
</div>
<p><strong>CONFIG_MLX5_INFINIBAND=(y/n/m)</strong> (module mlx5_ib.ko)</p>
<div class="line-block">
<div class="line">Provides low-level InfiniBand/RDMA and <a class="reference external" href="https://enterprise-support.nvidia.com/s/article/recommended-network-configuration-examples-for-roce-deployment">RoCE</a> support.</div>
</div>
<p><strong>CONFIG_MLX5_MPFS=(y/n)</strong></p>
<div class="line-block">
<div class="line">Ethernet Multi-Physical Function Switch (MPFS) support in ConnectX NIC.</div>
<div class="line">MPFs is required for when <a class="reference external" href="https://www.nvidia.com/en-us/networking/multi-host/">Multi-Host</a> configuration is enabled to allow passing</div>
<div class="line">user configured unicast MAC addresses to the requesting PF.</div>
</div>
<p><strong>CONFIG_MLX5_SF=(y/n)</strong></p>
<div class="line-block">
<div class="line">Build support for subfunction.</div>
<div class="line">Subfunctons are more light weight than PCI SRIOV VFs. Choosing this option</div>
<div class="line">will enable support for creating subfunction devices.</div>
</div>
<p><strong>CONFIG_MLX5_SF_MANAGER=(y/n)</strong></p>
<div class="line-block">
<div class="line">Build support for subfuction port in the NIC. A Mellanox subfunction</div>
<div class="line">port is managed through devlink.  A subfunction supports RDMA, netdevice</div>
<div class="line">and vdpa device. It is similar to a SRIOV VF but it doesn't require</div>
<div class="line">SRIOV support.</div>
</div>
<p><strong>CONFIG_MLX5_SW_STEERING=(y/n)</strong></p>
<div class="line-block">
<div class="line">Build support for software-managed steering in the NIC.</div>
</div>
<p><strong>CONFIG_MLX5_TC_CT=(y/n)</strong></p>
<div class="line-block">
<div class="line">Support offloading connection tracking rules via tc ct action.</div>
</div>
<p><strong>CONFIG_MLX5_TC_SAMPLE=(y/n)</strong></p>
<div class="line-block">
<div class="line">Support offloading sample rules via tc sample action.</div>
</div>
<p><strong>CONFIG_MLX5_VDPA=(y/n)</strong></p>
<div class="line-block">
<div class="line">Support library for Mellanox VDPA drivers. Provides code that is</div>
<div class="line">common for all types of VDPA drivers. The following drivers are planned:</div>
<div class="line">net, block.</div>
</div>
<p><strong>CONFIG_MLX5_VDPA_NET=(y/n)</strong></p>
<div class="line-block">
<div class="line">VDPA network driver for ConnectX6 and newer. Provides offloading</div>
<div class="line">of virtio net datapath such that descriptors put on the ring will</div>
<div class="line">be executed by the hardware. It also supports a variety of stateless</div>
<div class="line">offloads depending on the actual device used and firmware version.</div>
</div>
<p><strong>CONFIG_MLX5_VFIO_PCI=(y/n)</strong></p>
<div class="line-block">
<div class="line">This provides migration support for MLX5 devices using the VFIO framework.</div>
</div>
<p><strong>External options</strong> ( Choose if the corresponding mlx5 feature is required )</p>
<ul class="simple">
<li><p>CONFIG_MLXFW: When chosen, mlx5 firmware flashing support will be enabled (via devlink and ethtool).</p></li>
<li><p>CONFIG_PTP_1588_CLOCK: When chosen, mlx5 ptp support will be enabled</p></li>
<li><p>CONFIG_VXLAN: When chosen, mlx5 vxlan support will be enabled.</p></li>
</ul>
</section>


          </div>
          
        </div>
      </div>
    <div class="clearer"></div>
  </div>
    <div class="footer">
      &copy;The kernel development community.
      
      |
      Powered by <a href="http://sphinx-doc.org/">Sphinx 5.3.0</a>
      &amp; <a href="https://github.com/bitprophet/alabaster">Alabaster 0.7.12</a>
      
      |
      <a href="../../../../../_sources/networking/device_drivers/ethernet/mellanox/mlx5/kconfig.rst.txt"
          rel="nofollow">Page source</a>
    </div>

    

    
  </body>
</html>